.formContainer{
    margin-top: -23px;
    background-color: #f1faee;
    font-family:Arial, Helvetica, sans-serif;
    background-image: url('../../../image/muro.jpg');
    background-size: cover;
}
.navForm{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.229);
    height: 40px;
    width: 100%;
};
.title{
    margin-top: 30px;
    /* color: #f1faee; */
    color: transparent;
}
.subDiv{
    margin-top: 30px;
    height: 40px;
    /* background-color:blue; */
}
.back{
    width: 85px;
    height: 32px;
    color:#fff ;
    text-decoration: none;
    float: left;
    position: relative;
    margin-left: 20px;
    margin-top: 60px;
    /* background-color: red; */
    font-size: 30px;
    border: 1 px solid azure;
};
.back:hover{
    opacity: 0.5;
}

.divTitle{
    /* background-color: red; */
    font-size: xx-large;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    ;
    color: #fff;
    box-shadow: 0px 5px 5px rgba(239, 232, 232, 0.36); 
    margin-top: 50px;
}
    

.conteiner{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 960px;
    height: 470px;
    margin-right: auto;
    margin-left: auto;
    /* background-color: red; */
    margin-top: 10px;
}

.form{
   
    width: 300px;
    height: 410px;
    /* margin-left: 5px; */
    background-color: rgba(0, 0, 0, 0.404);
    border: 1 px solid #000;
    border-radius: 5px;
    padding: 1em;
    box-shadow: 3px 3px 3px #000;
    /* background-color: red; */
}

.form1{
    width: 300px;
    height: 410px;
    background-color: rgba(0, 0, 0, 0.404);
    border: 1 px solid #000;
    border-radius: 5px;
    padding: 1em;
    box-shadow: 3px 3px 3px #000;
}
.instructions{
    width: 300px;
    height: 250px;
    /* background-color: aqua; */
}
.dietDivs{
   display: flex;
   /* flex-wrap: wrap; */
   flex-direction: column;
   /* align-items: center; */
   width: 300px;
   height: 150px;
   /* background-color: red; */
   /* overflow-x: scroll */

}

.inputs{
    width: 100%;
    height: 20px;
    margin-bottom: 10px;
    border-radius: 3px;
    background-color: #efe6e6d7;
}

.inputsR{
    width: 100%;
    height: 2em;
    margin-bottom: 10px;
    border-radius: 3px;
}

.outputDiet{
    display: flex;
    flex-wrap: wrap;
    height: 55px;
    width: 310px;
    /* background-color: red; */
}

.boton{
    font-family: Arial, Helvetica, sans-serif;
    /* color: #fafafa; */
    font-size: 20px;
    padding: 8px;
    /* background-color: #008cba; */
    width: fit-content;
    text-align: center;
    margin-top: -40px;
    /* padding: 10px; */
}
.boton:hover{
    cursor: pointer;
    box-shadow: 0px 0px 10px rgb(201, 186, 186);
}
    

.text{
    color: azure;
}

.textD{
    color: azure;
    margin-top: -2px;
}
.botonX{
    border: transparent;
    /* background-color: rgba(255, 0, 0, 0.581); */
    color: #000;
    
}
.botonX:hover{
    color: white;
    background-color: #000000a3;
    opacity: 0.8;
}
.warning{
    border: 1.5px solid red;
}
.labels{
    float: left;
    color: white;
}